/template/

/**/out/
/**/figures/
/**/lt2circuitikz/

/**/*.ipynb_checkpoints/
/**/*.pdf
/**/*.png
/**/*.aux
/**/*.dvi
/**/*.log
/**/*.out
/**/*.mp4
/**/*.model
/**/*.pyc
/**/.DS_Store
/**/.texpadtmp/
/**/.vscode/
/**/google-cloud-sdk/
/**/ldcc-20140209.tar.gz
/**/*.mov
/**/*.wav
/**/*.flac
/**/*.m4a